body{
    background-color: rgb(37, 35, 54);
    justify-content: center;
    color: white;
    scroll-behavior: smooth;
}


h2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
}

#bienvenue{
    color: #000; /* couleur du texte en noir */
    text-shadow: 0px 4px 0px #FF0000; /* ombre rouge */
    text-align: center;
    font-size: 80px;
    margin-bottom: 0px;
    
}

#bienvenue img {
    vertical-align: middle;
    height: 1.5em;
}

#sous-bienvenue{
    color: #ffffff; /* couleur du texte en noir */
    text-shadow: 0px 3px 3px #595959; /* ombre rouge */
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
}

#sous-bienvenue2{
    color: #ffffff; /* couleur du texte en blanc */
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}



header{
    background-color: rgb(53, 49, 89);
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    display:flex;
    width: 100%;
    height: 15%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}


header img {
  margin-left: 10px;
  width: auto;
  max-height: 90px;
}

.menu {
  padding: 10px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Bouton menu mobile (caché en grand écran) */
.menu-toggle {
  display: none;
  font-size: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

/* Responsive : mobile et tablette */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 1rem;
    background-color: #010024;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 10;
  }

  .menu.open {
    display: block;
  }

  .menu ul {
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
    display: flex;
  }
}


.menu ul {
  list-style: none;
  margin: 0;
  display:flex;
  justify-content: flex-start;
  gap: 2rem;
}

.menu li {
  margin-right: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900px;
  font-size: 18px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
  color: #FF0000;
}

#accueil {
    background-color: rgb(50, 43, 88);
    padding: 100px 0;
    width: 100%;
}

#presentation {
  background-image: url('images/Omerta-anime.gif');
  background-size: cover;
  background-position: center;
  aspect-ratio: 16/5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 130px;
}



#equipe {
    background-color: rgb(25, 23, 38);
    padding: 20px 0;
}

#equipe h3 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
}

#equipe .equipe-description {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-bottom: 80px;
}

#equipe .equipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

#equipe .membre {
    background-color: rgb(53, 49, 89);
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

#equipe .membre:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#equipe .membre img {
    width : 200px;
    border-radius: 50px;
    flex-wrap: wrap;

}

.service-container {
    background-color: rgb(70, 74, 129);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
    align-items: flex-start;
    gap: 20px;
    padding: 10px 20px;
    margin-top: 15px;
}

.service-container img {
    width: 400px;
    margin-bottom: 10px;
}

.service-container h3 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}

.service-container .service-description {
    color: #fff;
    font-size: 18px;
    width: 500px;
}

@media only screen and (max-width: 768px) {
  .service-container{
    flex-direction: column;
    align-items: center;
  }
  .service-container img {
    width: 100%;
    margin: auto;
    vertical-align: middle;
  }
  .service-container .service-description {
    width: 100%;
    text-align: center;
  }
}