body{
    background-color: rgb(37, 35, 54);
    justify-content: center;
    color: white;
}


h2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
}

#bienvenue{
    color: #000; /* couleur du texte en noir */
    text-shadow: 0px 4px 0px #FF0000; /* ombre rouge */
    text-align: center;
    font-size: 80px;
    margin-bottom: 0px;
    
}

#bienvenue img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 0cm;
}

#sous-bienvenue{
    color: #ffffff; /* couleur du texte en noir */
    text-shadow: 0px 3px 3px #595959; /* ombre rouge */
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}



header{
    background-color: rgb(53, 49, 89);
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    display:flex;
    width: 100%;
}

header img {
  margin-left: 10px;
  width: 70px;
  align-items: center;
}

nav {
  padding: 10px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  margin: 0px, 50px;
  display:flex;
  justify-content: flex-start;
}

nav li {
  margin-right: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900px;
  font-size: 18px;
}

nav a {
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
  color: #FF0000;
}
#equipe {
    background-color: rgb(25, 23, 38);
    padding: 20px 0;
}

#equipe h3 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
}

#equipe .equipe-description {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-bottom: 80px;
}

#equipe .equipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

#equipe .membre {
    background-color: rgb(53, 49, 89);
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

#equipe .membre:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#equipe .membre img {
    width : 200px;
    border-radius: 50px;
    flex-wrap: wrap;

}

